.counterButton{
    width: 90px;
    height: 40px;
    background: #face10;
    border-radius: 8px;
    text-align: center;
    line-height: 40px;
    border: 2px solid black;
    cursor: pointer;
    user-select: none;
}